<head>
  <!--JQuery Table Scripts -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  />
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"
  ></script>
  <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>

<% if (messages.success) { %>
<div class="alert alert-success" role="alert"><%- messages.success %></div>
<% } %> <% if (messages.error) { %>
<div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>

<div class="card"> 
  <div class="card-header">
    <ul class="nav nav-pills w-100">
      <li class="nav-pill active">
        <a class="nav-link">Courses</a>
      </li>
      <li class="nav-pill ml-auto">
        <a class="nav-link active" data-toggle="modal" data-target="#addCourseModal">Add Course</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <% if(courseData.length) { %>
    <table class="table" id="courses-table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Department</th>
          <th scope="col">Number</th>
          <th scope="col">Credits</th>
          <th width="150px">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i< courseData.length; i++) { %>
        <tr>
          <th scope="row" class="align-middle"><%= courseData[i].id %></th>
          <td class="align-middle"><%= courseData[i].title %></td>
          <td class="align-middle"><%= courseData[i].description %></td>
          <td class="align-middle"><%= courseData[i].prefix %></td>
          <td class="align-middle"><%= courseData[i].suffix%></td>
          <td class="align-middle"><%= courseData[i].credits%></td>
          <td class="align-middle">
            <a class="btn btn-secondary edit" data-toggle="modal" data-target="#editCourseModal-<%=i%>">Edit</a>
            <a class="btn btn-danger delete" onclick="return confirm('Confirm Deletion?')" href="/manage/course/delete/<%=courseData[i].id%>" >Delete</a>
          </td>
        </tr>

<!-- Edit Course Modal -->
<div id="editCourseModal-<%=i%>" class="modal fade" role="dialog">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Edit Course</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form id="editCourseForm" method="POST" action="/manage/course/edit/<%=courseData[i].id%>">
        <!-- Prefix -->
        <div class="form-group">
          <label for="editPrefix">Prefix: </label>
          <input class="form-control" value="<%=courseData[i].prefix%>" type="text" name="editPrefix"></input>
        </div>
        <!-- Suffix -->
        <div class="form-group">
          <label for="editSuffix">Suffix: </label>
          <input class="form-control" value="<%=courseData[i].suffix%>" type="text" name="editSuffix"></input>
        </div>
        <!-- Title -->
        <div class="form-group">
          <label for="editTitle">Title: </label>
          <input class="form-control" value="<%=courseData[i].title%>" type="text" name="editTitle"></input>
        </div>
        <!-- Description -->
        <div class="form-group">
          <label for="editDescription">Description: </label>
          <input class="form-control" value="<%=courseData[i].description%>" type="text" name="editDescription"></input>
        </div>
        <!-- Credits -->
        <div class="form-group">
          <label for="editCredits">Credits: </label>
          <input class="form-control" value="<%=courseData[i].credits%>" type="number" name="editCredits"></input>
        </div>
        <div class="form-group">
          <button type="submit" id="submit" class="btn btn-success">Save</button>
          <button class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Closing for loop -->
        <% } %>
      </tbody>
    </table>
    <% } %>
  </div>

    <!-- if result is empty -->
    <% if(!courseData.length) { %>
    <p class="text-center">No Courses found!</p>
    <% } %>

    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills w-100">
          <li class="nav-pill active">
            <a class="nav-link">Programs</a>
          </li>
          <li class="nav-pill ml-auto">
            <a class="nav-link active" data-toggle="modal" data-target="#addProgramModal">Add Program</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <% if(programData.length) { %>
        <table class="table" id="programs-table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th width="150px">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i< programData.length; i++) { %>
            <tr>
              <th scope="row" class="align-middle"><%= programData[i].id %></th>
              <td class="align-middle"><%= programData[i].title %></td>
              <td class="align-middle"><%= programData[i].description %></td>
              <td class="align-middle">
                <a class="btn btn-secondary edit" data-toggle="modal" data-target="#">Edit</a>
                <a class="btn btn-danger delete" onclick="return confirm('Confirm Deletion?')" href="/manage/program/delete/<%=programData[i].id%>" >Delete</a>
              </td>
            </tr>
    
  <!-- Closing for loop -->
  <% } %>
</tbody>
</table>
<% } %>
  </div>
</div>

<!-- Add Course Modal -->
<div id="addCourseModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add Course</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form id="addCourseForm" method="POST" action="/manage/course/add/">
        <!-- Prefix -->
        <div class="form-group">
          <label for="coursePrefix">Prefix: </label>
          <input class="form-control" type="text" name="coursePrefix"></input>
        </div>
        <!-- Suffix -->
        <div class="form-group">
          <label for="courseSuffix">Suffix: </label>
          <input class="form-control" type="text" name="courseSuffix"></input>
        </div>
        <!-- Title -->
        <div class="form-group">
          <label for="courseTitle">Title: </label>
          <input class="form-control" type="text" name="courseTitle"></input>
        </div>
        <!-- Description -->
        <div class="form-group">
          <label for="courseDescription">Description: </label>
          <input class="form-control" type="text" name="courseDescription"></input>
        </div>
        <!-- Credits -->
        <div class="form-group">
          <label for="courseCredits">Credits: </label>
          <input class="form-control" type="number" name="courseCredits"></input>
        </div>
        <div class="form-group">
          <button type="submit" id="submit" class="btn btn-success">Save</button>
          <button class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Add Program Modal -->
<div id="addProgramModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add Program</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form id="addProgramForm" method="POST" action="/manage/program/add/">
        <!-- Title -->
        <div class="form-group">
          <label for="programTitle">Program Name: </label>
          <input class="form-control" type="text" name="programTitle"></input>
        </div>
        <!-- Desc -->
        <div class="form-group">
          <label for="programDescription">Program Description</label>
          <input class="form-control" type="text" name="programDescription"></input>
        </div>
        <div class="form-group">
          <button type="submit" id="submit" class="btn btn-success">Save</button>
          <button class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

    <!-- if result is empty -->
    <% if(!programData.length) { %>
      <p class="text-center">No Programs found!</p>
    <% } %>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills w-100">
      <li class="nav-pill active">
        <a class="nav-link">Terms</a>
      </li>
      <li class="nav-pill ml-auto">
        <a class="nav-link active" data-toggle="modal" data-target="#addTermModal">Add Term</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <% if(termData.length) { %>
    <table class="table" id="terms-table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Semester</th>
          <th width="150px">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i< termData.length; i++) { %>
        <tr>
          <th scope="row" class="align-middle"><%= termData[i].id %></th>
          <td class="align-middle"><%= termData[i].title %></td>
          <td class="align-middle"><%= termData[i].startyear %></td>
          <td class="align-middle"><%= termData[i].semester %></td>
          <td class="align-middle">
            <a class="btn btn-secondary edit" data-toggle="modal" data-target="#editTermModal-<%=i%>">Edit</a>
            <a class="btn btn-danger delete" onclick="return confirm('Confirm Deletion?')" href="#" >Delete</a>
          </td>
        </tr>

<!-- Edit Term Modal -->
<div id="editTermModal-<%=i%>" class="modal fade" role="dialog">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Edit Term</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form id="editTermForm" method="POST" action="/manage/term/edit/<%= termData[i].id %>">
        <!-- Title -->
        <div class="form-group">
          <label for="editTermTitle">Term Name: </label>
          <input class="form-control" type="text" name="editTermTitle" value="<%= termData[i].title %>"></input>
        </div>
        <!-- Start Year -->
        <div class="form-group">
          <label for="editTermYear">Start Year: </label>
          <input class="form-control" type="number" min="2022" max="9999" name="editTermYear" value="<%= termData[i].startyear %>"></input>
        </div>
        <!-- Semester -->
        <div class="form-group">
          <label for="editTermSemester">Semester: </label>
          <input class="form-control" type="number" min="1" max="2" name="editTermSemester" value="<%= termData[i].semester %>"></input>
        </div>
        <div class="form-group">
          <button type="submit" id="submit" class="btn btn-success">Save</button>
          <button class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Closing for loop -->
  <% } %>
</tbody>
</table>
<% } %>
<!-- Add Term Modal -->
<div id="addTermModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add Term</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form id="addTermForm" method="POST" action="/manage/term/add/">
        <!-- Title -->
        <div class="form-group">
          <label for="termTitle">Term Name: </label>
          <input class="form-control" type="text" name="termTitle"></input>
        </div>
        <!-- Start Year -->
        <div class="form-group">
          <label for="termYear">Start Year: </label>
          <input class="form-control" id="yearSelect" type="number" min="2022" max="9999" name="termYear" value=""></input>
          <script>document.getElementById("yearSelect").value = (new Date().getFullYear())</script>
        </div>
        <!-- Semester -->
        <div class="form-group">
          <label for="termSemester">Semester: </label>
          <input class="form-control" type="number" min="1" max="2" name="termSemester"></input>
        </div>
        <div class="form-group">
          <button type="submit" id="submit" class="btn btn-success">Save</button>
          <button class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


    <!-- if result is empty -->
    <% if(!termData.length) { %>
      <p class="text-center">No Terms found!</p>
    <% } %>

</div>
</div>  

<script>
  //Adding Table pages, search bar, and sorting using JQuery
  $(document).ready(function () {
    $('#courses-table').DataTable( {
      "lengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ],
    });
    $('#programs-table').DataTable( {
      "lengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ],
    });
    $('#terms-table').DataTable( {
      "lengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ],
    });
  });
</script>
