<!--Code for the "Add User" modal.-->
   <!--Idea for error reporting; add try-catch to modal, but how?-->
   <!--Additional ideas: if-else statments for inproper input.-->
   <div class = "container">
    <div class = "row">
        <div class = "col-xs-12">
            <div class="modal fade" data-backdrop = "static"  id="addModal" tabindex="-1">
              <div class ="modal-dialog">
                    <div class = "modal-content">
                     <!--Creation of modal header. -->
                      <div class = "modal-header"> 
                          <h4 class = "modal-title">Add User</h4>
                            <button class = "close" data-dismiss="modal">&times;</button>
                         
                        </div>
                        <!--Creation of modal body.-->
                        <div class = "modal-body">
                            <form>
                              <!--Radio buttons-->
                              <p>Enabled</p>
                              <input type="radio" id="act" name="account_status" value="ACTIVE">
                              <label for="act">Active</label><br>
                              <input type="radio" id="dis" name="account_status" value="DISABLED">
                              <label for="dis">Disabled</label><br>
                               <!--Prompts user to enter email address of person they wish to add.-->
                                <div class = "form-group">
                                    <label for = "inputUserEmail">Email</label>
                                    <input class = "form-control" placeholder="User email " type="text" id="inputUserEmail"> </input>
                                </div>
                                <!--Cascading drop-down menu of user role options-->
                                <p>Role</p>
                                <select name="sel" id="select">
                                  <option value="" selected="selected">Admin</option>
                                  <option value="" selected="selected">Manager</option>
                                  <option value="" selected="selected">User</option>
                                  <option value="" selected="selected">--Select--</option>
                                </select>
                            </form>
                        </div>
                        <!--Prompts user to add the user and close the window.-->
                         
                        <div class = "modal-footer">
                            <button class="btn btn-success addUser" data-dismiss = "modal" href="/users/addUser/ ">Add</button>
                            <button class = "btn btn-danger" data-dismiss = "modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% if (messages.success) { %>
<div class="alert alert-success" role="alert"><%- messages.success %></div>
<% } %> <% if (messages.error) { %>
<div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills w-100">
      <li class="nav-pill active">
        <a class="nav-link">Users</a>
      </li>
      <li class="nav-pill ml-auto">
        <a class="btn btn-secondary add" data-toggle="modal" data-target="#addModal" href="/users/add">Add User</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <% data.sort(function(a, b) { var textA = a.email.toUpperCase(); var textB =
    b.email.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0; });
    if(data.length) { %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Enabled</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th width="200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i< data.length; i++) { %>
        <tr>
          <th scope="row" class="align-middle"><%= data[i].id %></th>
          <td class="align-middle">
            <% if (data[i].enable) { %>
            <span class="badge badge-success">Active</span>
            <%} else { %>
            <span class="badge badge-light">Disabled</span>
            <% } %>
          </td>
          <td class="align-middle"><%= data[i].email%></td>
          <td class="align-middle"><%= data[i].role%></td>
          <td class="align-middle">
            <a class="btn btn-secondary edit" href="../users/edit/<%=data[i].id%>">Edit</a>
          <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="../users/delete/<%=data[i].id%>">Delete</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>

    <!-- if result is empty -->
    <% if(!data.length) { %>
    <p class="text-center">No Users found!</p>
    <% } %>
  </div>
<div>