<% if (messages.success) { %>
<div class="alert alert-success" role="alert"><%- messages.success %></div>
<% } %> <% if (messages.error) { %>
<div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>

<!-- <div class="row btn-group align-self-center m-2">
  <button type="button" class="btn btn-secondary edit" data-toggle="modal" data-target="#editModal">Add Event</button>
</div> -->

<!-- Edit User Modal -->
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
  <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Edit User</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal Body -->
    <div class="modal-body">
    <form>
      <div class = "form-group">
        <label for = "inputUserEmail">Email</label>
        <input class = "form-control" placeholder="New email " type="text" id="inputUserEmail"> </input>
      </div>
    </form>
    <div class ="row m-1">
      <div class="col-2">
        New Name:
      </div>
      <div class="col-10">
        <input type="text" id="eventNameEDIT" class="form-control ml-2">
      </div>
    </div>
    </div>
    <!-- Modal Footer -->
    <div class="modal-footer">
      <button class="btn btn-success">Save</button>
      <button class = "btn btn-warning" data-dismiss = "modal">Close</button>
    </div>
  </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills w-100">
      <li class="nav-pill active">
        <a class="nav-link">Users</a>
      </li>
      <li class="nav-pill ml-auto">
        <a class="nav-link active" href="/users/add">Add User</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <% data.sort(function(a, b) { var textA = a.email.toUpperCase(); var textB =
    b.email.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0; });
    if(data.length) { %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Enabled</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th width="200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i< data.length; i++) { %>
        <tr>
          <th scope="row" class="align-middle"><%= data[i].id %></th>
          <td class="align-middle">
            <% if (data[i].enable) { %>
            <span class="badge badge-success">Active</span>
            <%} else { %>
            <span class="badge badge-light">Disabled</span>
            <% } %>
          </td>
          <td class="align-middle"><%= data[i].email%></td>
          <td class="align-middle"><%= data[i].role%></td>
          <td class="align-middle">
            <a class="btn btn-secondary edit" data-toggle="modal" data-target="#editModal" href="../users/edit/<%=data[i].id%>">Edit</a>
            <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="../users/delete/<%=data[i].id%>">Delete</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>

    <!-- if result is empty -->
    <% if(!data.length) { %>
    <p class="text-center">No Users found!</p>
    <% } %>
  </div>
</div>
